
@import '../../../../styles/mixins';

.cardList {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__contain {
        display: flex;
        gap: 1rem;

        flex-direction: column;
        align-items: center;
        grid-row: 1rem;
        margin-bottom: 16px;

        @include respond-to('tablet') {
            flex-direction: row; 
            align-items: initial; 
            grid-row: initial;
        } 

        @include respond-to('desktop') {
            flex-direction: row; 
            align-items: initial; 
            grid-row: initial;
            flex-wrap: wrap;
        } 
    }

}